<h1>Start Your Pokemon Journey -- Professor Oak</h1>

<% trainer = Trainer.new %>
<%= form_for( trainer , remote: true) do |f| %>
    <div>Name: <%= f.text_field :name %></div>
    <div>Age: <%= f.number_field :age %></div>
    <div>Skill Level: <%= f.text_field :skill_level %></div>
    <div><%= f.collection_select :pokemon_ids, @pokemons, :id, :name %></div>
    <div><%= f.submit %></div>
<% end %>